* {
  box-sizing: border-box;
}
#job_listing {
  padding-top: 120px !important;
  
}
  .marketing {
    margin-bottom: 10px;
  }
  .footer {
    padding-top: 15% !important;
  }

  .jumbotron {
   background-image: url('../img/background-2.jpg');
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}
.form {
  display: flex;
   align-items: center;
   justify-content: center;
}
.job-title {
  color: #18BC9C;
}

.navbar-links {
  position: relative;
  right: 0px;
}
.title-link {
  text-decoration: underline;
}
.title-link:hover {
  text-decoration: none;
  filter: contrast(35%);
}

#alert-msg {
  padding-top: 80px !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
#alert-warning {
  margin-top: 10px !important;
}

header {
  position: relative;
}

.top-find {
  padding-top: 60px;
}