* {
  box-sizing: border-box;
}
#job_listing {
  padding-top: 120px !important;
  position: relative;
  
}
  .marketing {
    margin-bottom: 10px;
  }
  .footer {
    margin-top: 10% !important;
    text-align: center;
  }

  .jumbotron {
   background-image: url('../img/background-2.jpg');
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}
.form {
  display: flex;
   align-items: center;
   justify-content: center;
}
.job-title {
  color: rgb(105, 67, 176);
}

.navbar-links {
  position: relative;
  right: 0px;
}
.title-link {
  text-decoration: none;
  transition: 200ms linear;  
}
.title-link:hover {
  text-decoration: underline;
  color: rgb(105, 67, 176);  
  filter: opacity(90%);
}

#alert-msg {
  padding-top: 80px !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
#alert-warning {
  margin-top: 10px !important;
}

header {
  position: relative;
}

.top-find {
  padding-top: 60px;
}

.btn-primary {
  background-color: rgb(105, 67, 176) !important;
  outline: none;
  transition: 200ms linear;
}
.btn-primary:hover { 
  filter: opacity(90%);
  box-shadow: -3px 5px 10px 1px rgba(84, 84, 84, 0.28);
}

.apply-btn {
position: absolute;
right: 5%;
top: 0%;
}